html{
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
}

#conteiner {
	position: absolute;
	min-height: 100%;
	height: 100%;
	width: 100%;
	min-width: 100%;
}

#foot {    
	position: absolute;
	display: block;
	height: 50px;
    margin: 0px; 
	bottom: 0px;
	width: 200px;
	right: 15px;
}	
#foot li {
	display: inline-block;
	vertical-align: middle;
	padding: 10px;
}

#foot ul{
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 0;
	margin: 0;
}

#foot P {
	vertical-align: middle;
    font-size: 15px; 
	color: #3fa0ff;
	text-align: center;
	margin: 0;
}

#foot img {
	width: 30px;
	margin: 0;
}
  
 
